# Timezone stuff for presenting in chat
# Timezone (Default: UTC) (e.g. GMT | Europe/Berlin)
TIMEZONE=UTC
# Timezone locale (Default: en-US)
TIMEZONE_LOCALE=en-US
# 12 Hour or 24 Hour mode (true/false) (Default: true)
HOUR_12=true

# Where you living to get the current discounts in your region
# !!! LOWERCASE !!! (e.g. en|de|it) (Default: en)
LOCALE=en
# !!! UPPERCASE !!! (e.g. DE|US|GB) (Default: US)
COUNTRY=US

# On which port the container is listening 
PORT=3000

# How often the service checks the Stores
# HOUR DAY MONTH DAY_OF_WEEK (Default: 2 * * 5 | every Fridey at 2 AM)
CRON=2 * * 5

# Telegram bot token
TELEGRAM_BOT_TOKEN=
# Telegram group chat id or private chat id
TELEGRAM_CHATID=

# Use mongoDb instead of json-file as db
MONGO_ENABLED=false
# Hostname for mongodb
MONGO_HOST=mongo
# Port of mongodb
MONGO_PORT=27017
# User of mongodb
MONGO_USER=root
# Password of user
MONGO_PASS=mongo

# Steam checking enabled? (true/false)
STEAM_ENABLED=false
# Minimum price of the games to check (in cents!) (e.g. 4999 | 3499 ) (Default: 2999)
STEAM_GAME_PRICE=2999
# Minimum discount of the game (in percent!) (e.g. 75 | 50) (Default: 50)
STEAM_GAME_PERCENTAGE=50

# Epicgames checking enabled? (true/false)
EPIC_ENABLED=false

# GOG checking enabled? (true/false)
GOG_ENABLED=false
# Currency (e.g. EUR | USD) (Default: USD)
GOG_CURRENCY=USD
# Minimum price of the games to check (in cents!) (e.g. 4999 | 3499 ) (Default: 1499)
GOG_GAME_PRICE=1499
# Minimum discount of the game (in percent!) (e.g. 75 | 50 | 40) (Default: 20)
GOG_GAME_PERCENTAGE=20

# Ubisoft checking enabled? (true/false)
UBISOFT_ENABLED=false

# Maximal days which the discount promotions are saved after expiration (Default: 7)
# If you want longer than 10 days, please enable mongoDb if not already in use
EXPIRE_THRESHOLD=7