<nav class="navbar" id="navbar">
  <ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-brand nav-link" title="Games discount-promotions service" href="/">GDPS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/epic?page=1" target="mainIframe">Epicgames</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/steam?page=1" target="mainIframe">Steam</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/gog?page=1" target="mainIframe">Gog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ubisoft?page=1" target="mainIframe">Ubisoft</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/recently?page=1" target="mainIframe">Recently</a>
    </li>
  </ul>
</nav>
