:root {
  --defaultBorderRadius: 2rem;
  --mainBackgroundColor: #fafafa;
  --tileBackgroundColor: #8d8d8d;
  --fontColor: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --mainBackgroundColor: #696969;
    --tileBackgroundColor: #acacac;
    --fontColor: #fff;
  }
}

body {
  background-color: var(--mainBackgroundColor);
}

iframe {
  width: 100%;
  height: 100%;
  min-height: 200px;
  border: none;
}

/* Navbar */
.navbar {
  margin: 0.5rem 0;
  border-radius: var(--defaultBorderRadius);
}

.navbar .navbar-nav {
  border-radius: var(--defaultBorderRadius);
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.navbar .navbar-nav .nav-item .nav-brand {
  font-weight: bold;
}

.navbar .navbar-nav .nav-item {
  border-radius: var(--defaultBorderRadius);
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  /* border-bottom: 1px solid #888; */
}

.navbar .navbar-nav .nav-item .nav-link {
  border-radius: var(--defaultBorderRadius);
  text-decoration: none;
  color: var(--fontColor);
  display: block;
  transition: .3s background-color;
}

.nav-link:hover {
  border-radius: var(--defaultBorderRadius);
  background-color: #005f5f;
}

.nav-item.active {
  background-color: #1c1c1c;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav-item {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    float: left;
  }
  .navbar-nav {
    overflow: auto;
    margin: 0 auto;
  }
  .navbar {
    background-color: #444;
  }
}

/* Container */

.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.row {
  display: flex;
    flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col, .col-md-3, .col-md-6, .col-md-9, .col-md-12, .col-md {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* Tile container */
.jumbotron {
  border-radius: var(--defaultBorderRadius);
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: var(--tileBackgroundColor);
}

@media (min-width: 576px) {
  .jumbotron {
    border-radius: var(--defaultBorderRadius);
    padding: 1rem 2rem 4rem 2rem;
  }
}

/* Table */
.table {
  width: 100%;
  padding: 0rem 4rem;
}

table th {
  color: var(--fontColor);
  background-color: var(--mainBackgroundColor);
}

.table tr:nth-child(odd) {
  background: #ccc;
}

.table .table-header th {
  padding: 0.5rem 2rem;
}

.table .table-item:hover {
  transition: .3s background-color;
  background-color: #61afaf;
}


.table .table-item td a {
  text-decoration: none;
  display: block; 
  color: #000;
  padding: 0.5rem 2rem;
}



@media
only screen 
and (max-width: 760px), (min-device-width: 768px) 
and (max-device-width: 1024px)  {

/* Force table to not be like tables anymore */
table, thead, tbody, th, td, tr {
  display: block;
}

.table {
  padding: 0rem 0rem;
}

/* Hide table headers (but not display: none;, for accessibility) */
thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

tr {
  margin: 0 0 1rem 0;
}
  
tr:nth-child(odd) {
  background: #ccc;
}

td {
  /* Behave  like a "row" */
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 50%;
}

td:before {
  /* Now like a table header */
  position: absolute;
  /* Top/left values mimic padding */
  top: 0;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
}

/*
Label the data
You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
*/
td:nth-of-type(1):before { content: "Title"; font-weight: bold; }
td:nth-of-type(2):before { content: "Original"; font-weight: bold; }
td:nth-of-type(3):before { content: "Currently"; font-weight: bold; }
td:nth-of-type(4):before { content: "Discount"; font-weight: bold; }
}